<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aidlservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.aidlservice.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.aidlservice.Service.ServiceS" android:exported="true">
            <intent-filter>
                <action android:name="ServiceAidl"></action>
            </intent-filter>
        </service>
        <service android:name="com.aidlservice.Service.BankService" android:exported="true">
            <intent-filter>
                <action android:name="com.aidlservice.Service.BookService"></action>
            </intent-filter>
        </service>
    </application>

</manifest>